*{
  box-sizing: border-box;
  outline: 0;
  margin: 0;
}

#container{
  width: 99%;
  font-family: sans-serif;
}

#navbar{
  display: inline-block;
  position: fixed;
  width: 20%;
  height: 100vh;
  background-color: #0d1321;
  padding: 0 1% 4% 1%;
  overflow: auto;
}
  
#navbar header{
  padding: 8% 1%;
  margin-bottom: 10%;
  font-size: 1.2em;
  font-weight: 600;
  color: white;
}
  
.nav-link{
  display: block;
  padding: 5% 1%;
  border-top: 1px solid #3e5c76;
  text-decoration: none;
  font-size: 1.1em;
  color: #748cab;
  font-weight: 700;
}
  
.nav-link:hover{
  color:white;
  border-left: 6px solid #3dccc7;
}
  
#main-doc{
  display: inline-block;
  width: 78%;
  margin-left: 22%;
}
  
#main-doc header{
  font-weight: bold;
  padding-top: 4%;
}

#handwashing_poster{
  width: 90%;
}

.responsive{
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 50%;
}

.responsive iframe{
  position: absolute;
  width: 100%;
  height: 100%;
}

.border iframe {
  border: none;
  width: 300px;
  height: 100px;
  margin: 0;
  padding: 0;
  opacity: 0.8;
  display:block; /* Add this */
}

@media screen and (max-width: 600px) {
  html{
    scroll-padding-top: 90px;
  }

  .nav-link{
    display: none;
  }

  #navbar{
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
  }

  #navbar header{
    padding-bottom: 3%;
  }

  #main-doc{
    display: block;
    position: relative;
    width: 96%;
    margin:0 auto;
  }

}