*{
  box-sizing: border-box;
  outline: 0;
  margin: 0;
}

#container{
  width: 99%;
  font-family: sans-serif;
}

#navbar{
  display: inline-block;
  position: fixed;
  width: 20%;
  height: 100vh;
  background-color: #0d1321;
  padding: 0 1% 4% 1%;
  overflow: auto;
}
  
#navbar header{
  padding: 8% 1%;
  margin-bottom: 10%;
  font-size: 1.2em;
  font-weight: 600;
  color: white;
}
  
.nav-link{
  display: block;
  padding: 5% 1%;
  border-top: 1px solid #3e5c76;
  text-decoration: none;
  font-size: 1.1em;
  color: #748cab;
  font-weight: 700;
}
  
.nav-link:hover{
  color:white;
  border-left: 6px solid #3dccc7;
}
  
#main-doc{
  display: inline-block;
  width: 78%;
  margin-left: 22%;
}
  
#main-doc header{
  font-weight: bold;
  color: #0d1321;
  font-size: 1.2em;
  padding-top: 4%;
}

.ul_calls li{
  color: #0d1321;
}

.ol_objective li::marker {
  color: #3dccc7;
  font-weight: bold;
  font-size:1.2em;
}

.ol_objective li:hover {
  color: #3dccc7;
}

.objective{
  display:block;
  border-left: 4px solid #3dccc7;
  padding-left: 7px;
}

p{
  font-size: 1em;
}

.responsive{
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 50%;
}

.responsive iframe{
  position: absolute;
  width: 100%;
  height: 100%;
}

.brands {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 1rem;
  list-style-type: none;
}

.brands__item {
  background: white;
}

.brands__item img {
  display: block;
  max-width: 100%;
  width: 130px;
  height: 75px;
  object-fit: contain;
}

.brands__item a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#EC{
  width: 170px;
}

#footer_text{
  color: grey;
  text-align: center;
  font-size: 12px;
}

/* table styling */
table, th, td {
  border: 1px solid;
  border-collapse: collapse;
  width: 70%;
}

.num{
  color: #3dccc7;
  font-size: 1.1em;
  font-style: bold;
}

/* responsiveness */
@media screen and (max-width: 600px) {
  html{
    scroll-padding-top: 90px;
  }

  .nav-link{
    display: none;
  }

  #navbar{
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
  }

  #navbar header{
    padding-bottom: 3%;
  }

  #main-doc{
    display: block;
    position: relative;
    width: 96%;
    margin:0 auto;
  }

}


/* The alert message box */
.alert {
  padding: 20px;
  background-color:#0d1321; 
  color: white;
  position: fixed;
  margin-left: 20%;
  margin-top: 20%;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}